html, body, .container-fluid, #main-row {
    height: 100%;
}

.col-md-4 {
    background: rgba(71, 135, 198, 0.5);
    height: 100%;
    /*position: relative;*/
}

.col-md-4 .button {
    position: absolute;
    top: 0;
    /*float: right;*/
    margin-left: 60%;
    margin-top: 0.95cm;
    margin-right: 5%;
}

.col-md-4 h1 {
    margin-top: 0.9cm;
    margin-left: 10%;
}

.rooms h3 {
    margin-left: 13%;
    cursor: pointer;
}

.row div {
    overflow: hidden;
}

.col-md-8 table {
    background-color: #D4D4D4;
    width: 100%;
}

/*.col-md-8, .messages {
    width: 65%
}*/

.col-md-8 h3 {
    margin-left: 0.25cm;
}

/*.table-responsive {
    background-color: #D4D4D4;
    right: 0;
    width: 100%;
}*/

.username, .message-sent, .time-sent {
    display: inline;
}

.message-row {
  height: 2cm;
}

.time-sent {
    position: fixed;
    vertical-align: middle;
    right: 1cm;
}
